*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.Header
{
  color: #fefefe;
  background-color: #222222;
  height: 25vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 2vh;
}

.fa-shopping-basket 
{
   font-size: 15vh;
}

#header
{
  font-size: 2rem;
  font-weight:700;
  padding-top: 1vh;
}

/*----------------------------*/

.container
{
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 4vh;
}

ul li 
{
  list-style-type: none;
}

.grocery-list , .basket-list
{
  margin:2vh 0.2vw;
}

.grocery-item , .basket-item
{
  height: 5vh;
  width: 35vw;
  padding-left: 0.3vw;
  display: flex;
  align-items: center;
  font-size: 1.7vh;
  background-color: #f9f9f9;
}


.grocery-item:nth-child(even) , .basket-item:nth-child(even)
{
  background-color: #efefef;
}

.fa-plus-square
{
  font-size: 2.5vh;
  padding-right: 0.5vw;
  color: gainsboro;
}

.fa-minus
{
  font-size: 2vh;
  padding-right: 0.5vw; 
    color: gainsboro;
}

.basket-item:hover .fa-minus
{
  color: crimson;
}


.grocery-item:hover .fa-plus-square
{
  color: rgb(31, 172, 31);
}

.Clear
{
  width: 35vw;
  height: 4vh;
  border: none;
  outline: none;
  background-color: #222222;
  color: #efefef;
}


/*Media queries*/

@media (max-width:700px) {

  .grocery-item,.basket-item 
  {
    
  }
  
}




